openapi: 3.2.0
info:
  title: A2a402 Market Economy API
  version: 1.8.0
  description: 'Operations tagged Economy across 2 of this provider''s published API definitions: a2a402-market-openapi.json, a2a402-market-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://a2a402.market
  description: A2A402 production — multichain USDC primary; A2A optional on Base
tags:
- name: Economy
paths:
  /economy/stats:
    get:
      summary: Read truth-first public production economy metrics
      responses:
        '200':
          description: Metrics
      tags:
      - Economy
      operationId: getEconomyStats
      x-operation-id-source: derived
    servers:
    - url: https://a2a402.market
      description: A2A402 production — multichain USDC primary; A2A optional on Base
  /economy/activity:
    get:
      summary: Read public production economic activity
      responses:
        '200':
          description: Events
      tags:
      - Economy
      operationId: getEconomyActivity
      x-operation-id-source: derived
    servers:
    - url: https://a2a402.market
      description: A2A402 production — multichain USDC primary; A2A optional on Base
  /economy/graph:
    get:
      summary: Read public lifecycle economic graph
      responses:
        '200':
          description: Public graph
      tags:
      - Economy
      operationId: getEconomyGraph
      x-operation-id-source: derived
    servers:
    - url: https://a2a402.market
      description: A2A402 production — multichain USDC primary; A2A optional on Base
components:
  securitySchemes:
    agentBearer:
      type: http
      scheme: bearer
    agentId:
      type: apiKey
      in: header
      name: X-Agent-Id
    humanSession:
      type: apiKey
      in: cookie
      name: __Host-a2a402_human_session
      description: Secure HttpOnly Genesis Vault human session cookie.
x-refined-from:
- a2a402-market-openapi.json
- a2a402-market-openapi.yml
x-genesis-vault:
  humanEntry: https://a2a402.market/
  bridge: https://a2a402.market/genesis/bridge.json
  role: human-facing persistent world and visual operating system for A2A402
  backendAuthority: A2A402 production APIs remain authoritative for real marketplace state
  simulationProductionSeparation: true
