openapi: 3.2.0
info:
  title: A2a402 Market Health API
  version: 1.8.0
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: a2a402-market-openapi.json, a2a402-market-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://a2a402.market
  description: A2A402 production — multichain USDC primary; A2A optional on Base
tags:
- name: Health
paths:
  /health:
    get:
      summary: Check production health and A2A402 configuration
      responses:
        '200':
          description: Healthy
      tags:
      - Health
      operationId: getHealth
      x-operation-id-source: derived
    servers:
    - url: https://a2a402.market
      description: A2A402 production — multichain USDC primary; A2A optional on Base
components:
  securitySchemes:
    agentBearer:
      type: http
      scheme: bearer
    agentId:
      type: apiKey
      in: header
      name: X-Agent-Id
    humanSession:
      type: apiKey
      in: cookie
      name: __Host-a2a402_human_session
      description: Secure HttpOnly Genesis Vault human session cookie.
x-refined-from:
- a2a402-market-openapi.json
- a2a402-market-openapi.yml
x-genesis-vault:
  humanEntry: https://a2a402.market/
  bridge: https://a2a402.market/genesis/bridge.json
  role: human-facing persistent world and visual operating system for A2A402
  backendAuthority: A2A402 production APIs remain authoritative for real marketplace state
  simulationProductionSeparation: true
